/* palette http://www.colourlovers.com/palette/3054028/2_89_00 */

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #465059;
  color: #fefefe;
  font-family: "robotolight";
  font-size: 22px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.enable-transition-all {
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50px;
  width: 100%;
  color: white;
  background-color: #333333;
  text-transform: uppercase;
  box-shadow: 0 0 3px 3px #222222;
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

#header img {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 40px;
  height: 40px;
  margin: 5px 10px 0px 5px;
}

#header > span {
  vertical-align: middle;
}

#mainview {
  overflow-x: none;
  margin-top: 50px;
  min-height: 100%;
  width: 100%;
  background-color: #465059;
}

#mainview.loading {
  opacity: 0.5;
}

#menu {
  position: fixed;
  z-index: 100;
  width: 300px;
  height: 100%;
  background-color: #333333;
  color: #aaaaaa;
  box-shadow: inset 0 0 30px 5px #222222;
  -webkit-transform: translate3d(-300px, 0px, 0px);
  transform: translate3d(-300px, 0px, 0px);
}

#menu.menuopen {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

#menu ul {
  margin-top: 40px;
  list-style: none;
}

#menu ul li {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #555555;
  width: 200px;
  text-transform: uppercase;
}

form {
  padding: 20px;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 8px 4px;
}

form .rating {
  height: 64px;
}

form .rating span {
  height: 64px;
  width: 64px;
  display: inline-block;
}

form .rating span i {
  margin: 0px;
  margin-top: 16px;
  margin-left: 16px;
}

label,
input {
  font-size: 22px;
}

.day {
  padding: 10px;
  padding-top: 20px;
  position: relative;
}

.day ul {
  list-style: none;
  margin: 0px;
  margin-bottom: 20px;
  padding: 0px;
}

.day ul li {
  color: #333333;
  padding: 12px;
  box-shadow: 3px 3px 12px 3px #333333;
  background-color: white;
  min-height: 32px;
  border-radius: 3px;
  margin-bottom: 32px;
}

.day ul li .name {
  font-size: 22px;
  margin-bottom: 6px;
}

.day ul li .brewery {
  font-size: 18px;
  font-style: italic;
  margin: 6px 0;
}

.day ul li div.comment {
  display: block;
  /*padding: 10px;*/
  overflow: hidden;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 16px;
  border-radius: 3px;
  button-float: right;
}

.day ul li .rating {
  margin-right: 10px;
  width: 100%;
}

.day ul li .rating i {
  margin-right: 0px;
}

.today {
  background-color: #465059;
  color: #fefefe;
}

.day-0 {
  background-color: #2db585;
  color: #fefefe;
}

.day-1 {
  background-color: #ff05a3;
  color: #333333;
}

.day-1 .rating .star {
  background-color: #2db585;
}

.day-2 {
  background-color: #305373;
  color: #fefefe;
}

.day-3 {
  background-color: #ffc6d6;
  color: #333333;
}

.rating {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rating .span {
  display: inline-block;
}

.rating i {
  margin-right: 30px;
  vertical-align: baseline;
  display: inline-block;
  width: 32px;
  height: 30px;
}

.rating .rating-star {
  background-image: url('../img/stars.png');
}

.rating .rating-star-empty {
  background-image: url('../img/stars.png');
  background-position: -32px 0px;
}

/* pages */

.tonight .day .rating {
  width: 170px;
  display: inline-block;
}

.tonight .day .user {
  float: right;
  display: inline-block;
  padding-top: 6px;
  color: #777777;
  font-size: 120%;
  font-weight: bold;
}

.user form div.info {
  padding: 10px;
  margin-top: 20px;
}

/* animations */

.animate-show {
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
  display: block !important;
}

.animate-show.ng-hide {
  opacity: 0;
}

.more-beer-below {
  -webkit-transition: opacity ease-in 5s;
  transition: opacity ease-in 5s;
  -webkit-transition-delay: 3s;
  transition-delay: 3s;
  opacity: 1;
  position: absolute;
  bottom: 48px;
  right: 5px;
  color: #fafafa;
  font-size: 32px;
  height: 1.5em;
}

.more-beer-below.fadeout {
  opacity: 0;
}