<div class="tonight">
    <div full-height class="day today">
        <ul>
            <li ng-repeat="beer in today" ng-class="{ odd: $odd, even: $even, first: $first, last: $last}" ng-click="toggleSelection($index)">
                <div class="name">{{ beer.name }}</div>
                <div class="brewery">{{ beer.brewery }}</div>
                <rating value="beer.rating" read-only></rating><span class="user">{{ beer.user }}</span>
                <div class="comment animate-show">
                    <p>{{ beer.comment }}</p>
                    <!-- <button ng-click="delete(beer)">TA BORT</button> --> 
                    <div class="place">{{ beer.where }} <span>{{ beer.when | date:'H:mm' }}</span></div>
                </div>
            </li>
        </ul>
    </div>

    <div full-height ng-repeat="day in days" class="day day-{{ $index }}">
        <h3>{{ day[0].when | date:'yyyy-MM-dd'}}</h3>
        <ul>
            <li ng-repeat="beer in day" 
                ng-class="{ odd: $odd, even: $even, first: $first, last: $last}" 
                ng-click="toggleSelection(beer.when)"
                taphold="remove(beer)">
                <div class="name">{{ beer.name }}</div>
                <div class="brewery">{{ beer.brewery }}</div>
                <rating value="beer.rating" read-only></rating><span class="user">{{ beer.user }}</span>
                <div  class="comment animate-show">
                    <p>{{ beer.comment }}</p>
                    <div class="place">{{ beer.where }} <span>{{ beer.when | date:'H:mm' }}</span></div>
                </div>
            </li>
        </ul>
    </div>
</div>
