/* palette http://www.colourlovers.com/palette/3054028/2_89_00 */ 
$repeticion: #305373;
$emerald: #2DB585;
$venus: #FF05A3;
$mylove: #465059;
$noname: #FFC6D6;


* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
} 


body,html  {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $mylove;
    color: #fefefe;
    font-family: "robotolight";
    font-size: 22px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
}

.enable-transition-all {
    transition: all 300ms ease-out;
}


#header {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    color: white;
    background-color: #333;
    z-index: 20;
    text-transform: uppercase;
    box-shadow: 0 0 3px 3px #222;

    transform: translate3d(0px,0px,0px);

    img {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);  
        width: 40px;
        height: 40px;
        margin: 5px 10px 0px 5px;
    }

    > span {
        vertical-align: middle;
    }
}

#mainview {
    overflow-x: none;
    margin-top: 50px;
    min-height: 100%;
    width: 100%;
    transform: translate3d(0px,0px,0px);
    background-color: $mylove;

    &.menuopen {
        transform: translate3d(300px,0px,0px);
    }

    &.loading {
        opacity: 0.5;
    }
}

#menu {
    position: fixed;
    z-index: 100;
    width: 300px;
    height: 100%;
    background-color: #333;
    color: #aaa;
    box-shadow: inset 0 0 30px 5px #222;
    
    transform: translate3d(-300px,0px,0px);
    
    &.menuopen {
        transform: translate3d(0px,0px,0px);
    }

    ul {
        margin-top: 10px;
        list-style: none;

        li {
            padding-bottom: 20px;
            padding-top: 20px;
            border-bottom: 1px solid #555;
            width: 200px;
            text-transform: uppercase;
        }
    }


}   

form {
    padding: 20px;

    input[type="text"],textarea {
        width: 100%;
        padding: 8px 4px;
    }

    .rating {
        height: 64px;
        span {
            height: 64px;
            width: 64px;
            display: inline-block;
            i {
                margin: 0px;
                margin-top: 16px;
                margin-left: 16px;
            }
        }
    }
}

label,input {
    font-size: 22px;
}

.day {
    padding: 10px;
    padding-top: 20px;
    position: relative;
    
    ul {
        list-style: none;
        margin: 0px;
        margin-bottom: 20px;
        padding: 0px;

        li {
            color: #333;
            padding: 12px;
            box-shadow: 3px 3px 12px 3px #333;
            background-color: #ffffff;
            min-height: 32px;
            border-radius: 3px;
            margin-bottom: 32px;

            .name {
                font-size: 22px;
                margin-bottom: 6px;
            }

            .brewery {
                font-size: 18px;
                font-style: italic;
                margin: 6px 0;
            }

            div.comment {
                display: block;
                /*padding: 10px;*/
                overflow: hidden;
                font-size: 18px;
                margin-top: 8px;
                margin-bottom: 16px;
                border-radius: 3px;

                button: {
                    float: right;
                }
            }

            .rating {

                margin-right: 10px;
                width: 100%;

                i {
                    margin-right: 0px;  
                }

            }
        }
    }
}

.today {
    background-color: $mylove;
    color: #fefefe;
}

.day-0 {
    background-color:$emerald;
    color: #fefefe;
}

.day-1 {
    background-color: $venus;
    color: #333;

    .rating {
        .star {
            background-color: $emerald;
        }
    }
}


.day-2 {
    background-color: $repeticion;
    color: #fefefe;
}

.day-3 {
    background-color: $noname;
    color: #333;
}


.rating {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    .span {
        display: inline-block;
    }    

    i {
        margin-right: 30px;
        vertical-align: baseline;
        display: inline-block;
        width: 32px;
        height: 30px;
    }

    .rating-star {
        background-image: url('../img/stars.png');
    }

    .rating-star-empty {
        background-image: url('../img/stars.png');
        background-position: -32px 0px;
    }

}

/* pages */
.tonight .day {
    .rating {
        width: 170px;
        display: inline-block;
    }

    .user {
        float: right;
        display: inline-block;
        padding-top: 6px;
        color: #777;
        font-size: 120%;
        font-weight: bold;
    }
}

.user {
    form div.info {
        padding: 10px;
        margin-top: 20px;
    }
}

/* animations */
.animate-show {
    transition: all ease-in-out 0.2s;
}

.animate-show.ng-hide-add,
.animate-show.ng-hide-remove {
    display: block !important;
}
 
.animate-show.ng-hide {
    opacity: 0;
}


.more-beer-below {
    transition: opacity ease-in 5s;
    transition-delay: 3s;
    opacity: 1;
    position: absolute;
    bottom: 48px;
    right: 5px;
    color: #fafafa;
    font-size: 32px;
    height: 1.5em;

    &.fadeout {
        opacity: 0;
    }
}

