<!DOCTYPE html>
<html  ng-app="beer">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Vad drack jag sist?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, target-densitydpi=devicedpi" />
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="css/roboto_light/stylesheet.css">
    <link rel="stylesheet" href="css/roboto_regular/stylesheet.css">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="js/libs/angular.min.js"></script>
    <script type="text/javascript" src="js/libs/angular-touch.min.js"></script>
    <script type="text/javascript" src="js/libs/angular-route.min.js"></script>
    <script type="text/javascript" src="js/libs/ui-bootstrap-custom-tpls-0.6.0.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/backend.js"></script>
    <script type="text/javascript" src="js/model.js"></script>
    <script type="text/javascript" src="js/controllers/AddBeerCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/BeerCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/BeersCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/TonightCtrl.js"></script>
    <script type="text/javascript" src="js/controllers/UserCtrl.js"></script>
    <script type="text/javascript" src="js/directives/fullHeight.js"></script>
    <script type="text/javascript" src="js/directives/rating.js"></script>
    <script src="cordova.js"></script>
    <!-- <script src="http://localhost:35729/livereload.js"></script> -->
</body>
</head>
<body ng-controller="BeerCtrl">
    <div id="menu">
        <ul>
            <li ng-click="page('beers')">Dina öl</li>
            <li ng-click="page('tonight')">Allas idag</li>
            <li ng-click="page('add')">Registrera öl</li>
            <li ng-click="page('user')" >Byt användare</li>
        </ul>
    </div>
    <div id="header" ng-class="{ menuopen: app.menuState }" class="enable-transition-all">
        <img ng-click="toggleMenu()" src="img/menu.png" /> 
        <span>{{ app.title }}</span>
    </div>
    <div id="mainview" ng-class="{ menuopen: app.menuState }" class="enable-transition-all"> 
        <div ng-view>
        </div>
    </div>
</body>    
</html>
